body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
}

img {
    width: 80px;
}

canvas {
    position: absolute;
}

.div-video {
    border: 1px solid #00a896;
    padding: 20px;
    background-color: #ffffff;
}